@font-face {
    font-family: eightbitop;
    src: url(fonts/8bitoperator_jve.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
    body {
    background-color: #000000;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0px;
}
body.tweetsbody {
    font-family: eightbitop;
}
.spacebg, .spacebg2, .spacebg3 {
    width: 100%;
	height: 100%;
    background-repeat: repeat;
    position: fixed;
    mix-blend-mode: screen;
    top: 0px;
	left: 0px;
    will-change: transform, filter;
}
.spacebg {
    animation: backgroundScroll 15s linear infinite;
    opacity: 50%;
	background-image: url("images/depth3.png");
	z-index: -4;
}
.spacebg2 {
    animation: backgroundScroll2 25s linear infinite;
    opacity: 70%;
	background-image: url("images/depth2.png");
	z-index: -2;
}
.spacebg3 {
    animation: backgroundScroll3 25s linear infinite;
	background-image: url("images/depth1.png");
	z-index: -3;
}
@keyframes backgroundScroll {
    0% {background-position:0px 0px; filter: opacity(50%);}
    100% {background-position: -160px -1600px; filter: opacity(50%);}
}
@keyframes backgroundScroll2 {
    0% {background-position:0px 0px; filter: opacity(50%);}
    100% {background-position: -2560px 256px; filter: opacity(50%);}
}
@keyframes backgroundScroll3 {
    0% {background-position:0px 0px; filter: opacity(50%);}
    100% {background-position: 2560px 1200px; filter: opacity(50%);}
}
.wrapper {
    display: flex;
    justify-content: center;
}
.wrapper2 {
    display: flex;
    align-items: flex-start;
}
.soon {
    font-size: 16px;
}
a {
    color: white;
}
a:hover {
    color: rgb(160, 78, 78);
}
.div1, .div2, .div3, .div1_1 {
    background-color: rgba(22, 17, 34, 1);
    background-size: 800px;
    background-position-x: center;
    background-position-y: center;
    color: rgb(219, 164, 255);
    margin-top: 50px;
    padding: 6px;
    margin-bottom: 40px;
}
.div1 {
    width: 250px;
    height: 520px;
    border: 6px ridge #aa3a3a;
    border-bottom: rgba(0, 0, 0, 0) solid 6px;
    margin-right: 27px;
}
.div1_1 {
    position: absolute;
    height: 740px;
    top: 961px;
    width: 250px;
    border: 6px ridge #aa3a3a;
    border-top: rgba(0, 0, 0, 0) solid 6px;
    z-index: -1;
}
.div2, .div2container {
    width: 600px;
    height: 1490px;
    margin-left: 6px;
    margin-right: 6px;
}
.div2container {
    position: absolute;
    padding-left: 271px;
    padding-top: 29px;
    pointer-events: none;
    user-select: none;
}
.div3 {
    width: 250px;
    height: 1500px;
    border: 6px ridge #dac02f;
    margin-left: 20px;
}
.oneshot {
    padding-top: 50px;
    padding-bottom: 15px;
}
p {
    width: 90%;
    padding-left: 30px;
}
h3 {
    font-size: 15px;
    color: rgb(186, 82, 255)
}
.toptree {
    margin-top: 40px;
}
.flammariondiv {
    margin-top: 300px;
    border-top: white solid 6px;
    border-bottom: white solid 6px;
    width: 107%;
    margin-right: 100px;
    height: 223px;
    transform: translate(-12px, 0px);
}
.flammarion {
    width: 103%;
    transform: translate(-8px, 0px);
}
.flammariondiv2 {
    border-right: 6px ridge #aa3a3a;
    width: 100px;
    height: 260px;
    transform: translate(156px, -250px);
}

/*EVERYTHING BELOW THIS POINT IS FOR THE TWEETS.HTML PAGE */

.undertalebox, .headers, .mainheaders, .below {
    font-smooth: never;
    -webkit-font-smoothing : none;
    filter: url(#crispify);
}
.mainheaders {
    color: rgb(249, 255, 16);
    font-size: 48px;
    text-align: center;
}
.headers {
    font-size: 48px;
    text-align: center;
}
.offscreen {
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.ch1wrapper, .ch2wrapper, .ch3wrapper, .ch4wrapper, .ch5wrapper, .ch6wrapper {
    position: absolute;
    text-align: left;
    margin-top: 1%;
    width: 40%
}
.ch1wrapper, .ch3wrapper, .ch5wrapper {
    margin-left: 5%;
}
.ch2wrapper {
    margin-left: 55%;
}
.ch3wrapper {
    margin-top: 6300px;
}
.ch5wrapper {
    margin-top: 6300px;
    margin-left: 55%;
    width: 42%;
}
.ch6wrapper {
    margin-top: 60%;
    margin-left: 55%;
}
.undertalebox {
    border:#FFFFFF 13px solid;
    font-size: 24px;
    /*pointer-events: none;
    user-select: none;*/
}
.wait {
    color: rgb(249, 255, 16);
    font-size: 16px;
    padding-left: 40px;
}
.below {
    position: absolute;
    text-align: center;
    color: rgb(249, 255, 16);
    font-size: 32px;
    margin-top: 20px;
    margin-left: 25%
}
h1.dogheaders {
    color:white;
    font-size: 64px;
}
.dogpage {
    font-size: 24px;
    color: rgb(167, 167, 167);
    display: inline-block;
}
